.cvs-input-background {
    text-align: center;
}

.cvs-inputContainer {
    text-align: center;
}

.cvs-inputRow {
    border-radius: 10px;
    background-color: #030E34;
    width: 70%;
}

.cvs-input-title-fonts {
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.cvs-input-inner-container {
    border-radius: 10px;
    width: 100%;
    min-height: 50vh;
}

.cvs-input-body-fonts {
    font-size: 20px;
}

.first-row-cvs-input {
    padding-top: 10px;
}

.second-row-cvs-input {
    padding-top: 30px;
}

.middle-row-cvs-input {
    /* padding-top: 10px; */
}

.TestButton {
    background-color: #030E34;
    border-color: #030E34;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.form-label-cvs-input {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

/* Change bottom margin according to requirement */
.final-div-cvs-input {
    margin-bottom: 140px;
}