.leftDiv {
    height: 100vh;
    background-color: #2C2C2C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.rightDiv {
    height: 100vh;
}

.loginButton {
    width: 25%;
}

.loginButtonDiv {
    text-align: center;
}

.form-label,
.form-control {
    color: white !important;
}

.form-control {
    background-color: #8A8A8A !important;
    border-color: #8A8A8A !important;
}

.loginPageFirstRow {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 47px;
}

.subtitle {
    color: white;
    font-size: 20px;
}

.loginPageSecondRow {
    height: 40%;
}

.loginPageThirdRow {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupText {
    color: white;
    font-size: 15px;
}

.signupLink{
    text-decoration: none;
    color: #158FFF;
    font-size: 15px;
}