.health-background {
    text-align: center;
}

.healthContainer {
    text-align: center;
}

.healthRow {
    border-radius: 10px;
    background-color: #030E34;
    width: 70%;
}

.health-title-fonts {
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.health-inner-container {
    border-radius: 10px;
    background-color: #ffffff;
    width: 100%;
    min-height: 50vh;
    padding-bottom: 30px;
}

.health-body-fonts {
    font-size: 20px;
}

.first-row-health {
    padding-top: 10px;
}

.second-row-health {
    padding-top: 30px;
}

.final-div-health {
    margin-bottom: 70px;
}