.cvs-home-Background {
    text-align: center;
}

/* Change height according to the need */
.cvs-home-Container {
    margin-bottom: 70px;
    text-align: center;
    margin-bottom: 120px;
}

.cvs-home-Row {
    border-radius: 10px;
    background-color: white;
    width: 70%;
}

.textcvs-home {
    font-size: 18px;
}

.firstRowcvs-home {
    padding-top: 30px;
}

.secondRowcvs-home{
    padding-top: 10px;
    padding-bottom: 30px;
}

.cvs-home-buttom{
    background-color: #030E34;
    border-color: #030E34;
    width: 200px;
}