body {
    background-color: #DBD7F8;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 50px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-container {
    margin-bottom: 70px;
}

.custom-row-camera-dashboard {
    height: 250px;
}

.custom-row-dashboard {
    min-height: 60px;
}

.font-dashboard-text {
    font-size: 18px;
}

.font-dashboard-text-answers {
    font-weight: bold;
    font-size: 50px;
}

.font-dashboard-text-answers-topic {
    font-size: 30px;
}

.dashboard-red-card {
    background-color: red;
}

.dashboard-grey-card {
    background-color: #999999;
}