.profileAccordion {
  margin-bottom: 40px;
}

.profile-background {
  text-align: center;
}

.profileContainer {
  text-align: center;
}

.profileRow {
  border-radius: 10px;
  background-color: #030E34;
  width: 70%;
}

.profile-title-fonts {
  color: white;
  font-weight: bold;
  font-size: 32px;
}

.profile-inner-container {
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
  min-height: 50vh;
}

.profile-body-fonts {
  font-size: 20px;
}

.first-row-profile {
  padding-top: 10px;
}

.second-row-profile {
  padding-top: 30px;
}

/* Change bottom margin according to requirement */
.final-div-profile {
  margin-bottom: 140px;
}

.profile-button {
  background-color: #030E34;
  border: #030E34;
}