body {
    background-color: #DBD7F8;
}

.usageCards {
    background-color: white;
    border-radius: 10px;
    flex: 1;
}

.usageDivCardsPanel {
    margin-top: 30px;
}

.usageFirstRow {
    background-color: white;
    border-radius: 10px;
}

.usageSecondRow .usageCards {
    height: 350px;
}

.usageThirdRow .usageCards {
    /* height: 200px; */
}

.usageForthRow .usageCards {
    /* height: 200px; */
    margin-bottom: 100px;
}