#offcanvasNavbar-expand-false {
  background-color: #030E34;
  /* width: 20%; */
}

#offcanvasNavbar-expand-false .nav-link {
  color: white;
  font-size: 20px;
  transition: color 0.3s;
}

#offcanvasNavbar-expand-false .nav-link:hover {
  background-color: rgba(145, 106, 255, 0.2);
}

#offcanvasNavbar-expand-false .navbar-brand {
  color: white;
  font-weight: bold;
}

.navbar-common {
  background-color: #030E34;
}

.navbar-common-brand-image {
  margin-right: 10px;
}

.navbar-offcanvas-navdiv {
  margin-left: 30px;
  margin-right: 20px;
}

.nav-links-navbar {
  padding-left: 20px;
  border-radius: 10px;
}